
$primarycolor : #C150C7;
$secondarycolor :#FF8547;
$tertiarycolor:#CFBADB;

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  
}

 
 img {
   object-fit: cover;
 }
//FONTAWESOME
i.fas.fa-user,
.fa-heart,
.fa-cart-arrow-down {
  margin-right: 0.5em;
}


h1{
  font-size: 1.5em;
}
h5
 {
  font-size: 1rem;
}
.size-p {
  font-size: 0.8em;
}
 .f-size {
  font-size: 0.8em;
}
.bg-header {
  height: 130px;
  margin-top:2.5em;
  
}
.font-header {
  color: white;
}
 a{
   color : inherit;
   text-decoration: none;
 }
 article {
cursor: pointer;

 }
 .costum-bg,
 .btn-footer {
   background: linear-gradient(to bottom, #C150C7,#FF8547);
 }

footer {
  background: whitesmoke;
  
}
// Page panier //
.header-product {
  border-bottom: 4px solid $primarycolor;
}

//Breakpoints 
